<div class="flex py-[10vh] my-12 justify-center items-center">
    <div class="absolute flex w-full justify-center px-6">
        <div
            class="relative z-10 flex items-center justify-center w-full max-w-lg gap-2 px-2 m-auto divide-x shadow-lg divide-zinc-600 min-h-12 bg-background rounded-3xl shadow-black/40">

            <div class="flex items-center self-end flex-1 min-w-0">
                <form class="w-full h-full" [formGroup]="userSeacrhForm"
                    (ngSubmit)="onUserSubmit()">
                    <div class="relative w-full flex items-center transition-all duration-300 min-h-full h-fit"
                        style="height: 44px;"><label for="textarea-input" class="sr-only">Prompt</label>
                        <div class="relative flex flex-1 min-w-0 self-start">
                            <div
                                class="flex-[1_0_50%] min-w-[50%] overflow-x-visible -ml-[100%] opacity-0 invisible pointer-events-none">
                                <div
                                    class="pl-3 py-3 sm:min-h-[15px] sm:leading-6 text-base md:text-sm opacity-0 invisible pointer-events-none">
                                    Explore GitHub Users and Repositories!</div>
                            </div>
                            <input #usernameInput id="usernameInput" maxlength="50" name="usernameInput"
                                class="flex-[1_0_50%] min-w-[50%] disabled:opacity-80 text-white bg-transparent border-0 shadow-none resize-none outline-none ring-0 disabled:bg-transparent selection:bg-teal-300 selection:text-black placeholder:text-zinc-400 [scroll-padding-block:0.75rem] pl-3 py-3 sm:min-h-[15px] sm:leading-6 text-base md:text-sm"
                                formControlName="username" required spellcheck="false" rows="1"
                                placeholder="Explore GitHub Users and Repositories!" style="height: 44px !important;" />
                        </div>
                        <div class="absolute text-foreground/50 font-mono text-xs -translate-y-1/2 right-12 top-1/2">
                            CTRL + K
                        </div>
                        <button type="submit" id="send-button"
                            class="flex items-center outline-none transition-colors focus-visible:ring-gs=zinc-400 focus-visible:ring-1 bg-foreground/30 text-foreground/80 justify-center w-8 h-8 rounded-full shrink-0 hover:bg-foreground/20 disabled:opacity-50 disabled:hover:bg-zinc-700"><span
                                class="sr-only">Send</span><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.5 3V2.25H15V3V10C15 10.5523 14.5522 11 14 11H3.56062L5.53029 12.9697L6.06062 13.5L4.99996 14.5607L4.46963 14.0303L1.39641 10.9571C1.00588 10.5666 1.00588 9.93342 1.39641 9.54289L4.46963 6.46967L4.99996 5.93934L6.06062 7L5.53029 7.53033L3.56062 9.5H13.5V3Z"
                                    fill="currentColor"></path>
                            </svg></button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>